<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center" style="background-color: rgba(240, 181, 43, 0.5); padding: 20px;">
        <h1><%= l(@drink_record.date, format: :short) %>のドリンク</h1>
        <p><strong><%= t('activerecord.attributes.drink_record.morning_suggestion') %>:</strong> <%= @drink_record.morning_suggestion.display_name %></p>
        <p><strong><%= t('activerecord.attributes.drink_record.afternoon_suggestion') %>:</strong> <%= @drink_record.afternoon_suggestion.display_name %></p>
        <p><strong><%= t('activerecord.attributes.drink_record.evening_suggestion') %>:</strong> <%= @drink_record.evening_suggestion.display_name %></p>
        <p><strong><%= t('activerecord.attributes.drink_record.caffeine_total') %>:</strong> <%= @drink_record.caffeine_total %>mg</p>

        <%= form_with(model: @drink_record, method: :patch) do |form| %>

            <!-- ドリンクの編集項目 -->
            <div class="form-group">
                <%= form.label :morning_suggestion, t('activerecord.attributes.drink_record.morning_suggestion') %>
                <%= form.select :morning_suggestion, options_for_select(Drink.all.map { |drink| [drink.display_name, drink.id] }, @drink_record.morning_suggestion.id) %>
            </div>
            <div class="form-group">
                <%= form.label :afternoon_suggestion, t('activerecord.attributes.drink_record.afternoon_suggestion') %>
                <%= form.select :afternoon_suggestion, options_for_select(Drink.all.map { |drink| [drink.display_name, drink.id] }, @drink_record.afternoon_suggestion.id) %>
            </div>
            <div class="form-group">
                <%= form.label :evening_suggestion, t('activerecord.attributes.drink_record.evening_suggestion') %>
                <%= form.select :evening_suggestion, options_for_select(Drink.all.map { |drink| [drink.display_name, drink.id] }, @drink_record.evening_suggestion.id) %>
            </div>

            <div class="d-flex justify-content-center mt-3">
                <%= form.submit '更新', class: 'btn btn-blue' %>
                <div style="width: 5px;"></div>
                <%= link_to '戻る', drink_record_path(@drink_record), class: 'btn btn-secondary' %>
            </div>
        <% end %>

    </div>
</div>