<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center" style="background-color: rgba(240, 181, 43, 0.5); padding: 20px;">
    <h1><%= l(@drink_record.date, format: :short) %>のドリンク</h1>
        <p><strong><%= t('activerecord.attributes.drink_record.morning_suggestion') %>:</strong> <%= @drink_record.morning_suggestion.display_name %></p>
        <p><strong><%= t('activerecord.attributes.drink_record.afternoon_suggestion') %>:</strong> <%= @drink_record.afternoon_suggestion.display_name %></p>
        <p><strong><%= t('activerecord.attributes.drink_record.evening_suggestion') %>:</strong> <%= @drink_record.evening_suggestion.display_name %></p>
        <p><strong><%= t('activerecord.attributes.drink_record.caffeine_total') %>:</strong> <%= @drink_record.caffeine_total %>mg</p>
        <%= link_to '編集', edit_drink_record_path(@drink_record), class: 'btn btn-lime float-right' %>
        <%= link_to '削除', drink_record_path(@drink_record), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-pink' %>
        <%= link_to '戻る', mypage_calendar_path, class: 'btn btn-secondary' %>

    </div>
</div>