<% content_for(:title, 'Profile') %>
<div class="container pt-3">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h1 class="float-left mb-5">Profile</h1>
            <%= link_to 'Edit', edit_profile_path, class: 'btn btn-success float-right' %>
            <table class="table">
                <tr>
                    <th scope="row">Email</th>
                    <td><%= current_user.email %></td>
                </tr>
                <tr>
                    <th scope="row">Name</th>
                    <td><%= current_user.name %></td>
                </tr>
                <tr>
                    <th scope="row">Weight</th>
                    <td><%= current_user.weight %></td>
                </tr>
                <tr>
                    <th scope="row">Age</th>
                    <td><%= current_user.age %></td>
                </tr>
                <tr>
                    <th scope="row">Gender</th>
                    <td><%= current_user.gender %></td>
                </tr>
                <tr>
                    <th scope="row">Area</th>
                    <td><%= current_user.area %></td>
                </tr>
            </table>
        </div>
    </div>
</div>