<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center" style="background-color: rgba(240, 181, 43, 0.5); padding: 20px;">
        <h1>提案結果</h1>
            <p>朝の提案ドリンク: <%= @morning_suggestion[:name] %></p>
            <p>昼の提案ドリンク: <%= @afternoon_suggestion[:name] %></p>
            <p>夜の提案ドリンク: <%= @evening_suggestion[:name] %></p>
            <p>カフェイン総摂取量: <%= @caffeine_total %> mg</p>

            <% if logged_in? %>
            <%= form_with(model: @drink_record, url: drink_records_path, method: :post) do |form| %>
                <%= form.hidden_field :morning_suggestion, value: @morning_suggestion.id %>
                <%= form.hidden_field :afternoon_suggestion, value: @afternoon_suggestion.id %>
                <%= form.hidden_field :evening_suggestion, value: @evening_suggestion.id %>
                <%= form.hidden_field :caffeine_total, value: @caffeine_total %>
                <%= form.hidden_field :date, value: Date.today %> <!-- 今日の日付を追加 -->
                <%= form.submit '登録', class: 'btn btn-beige' %>
            <% end %>
        <% else %>
            <p>ログインしていないため、ドリンクの登録はできません。</p>
        <% end %>
    </div>
</div>
