<nav class="navbar navbar-expand-lg navbar-dark bg-beige">
  <div class="container-fluid">
    <% if logged_in? %>
    <div class="fuwafuwa"></div>
      <a class="navbar-brand" href="<%= mypage_calendar_path %>">インテリ ドリンク</a>
    <% else %>
    <div class="fuwafuwa"></div>
      <a class="navbar-brand" href="/">インテリ ドリンク</a>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if logged_in? %>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
          <%= link_to t('defaults.logout'), logout_path, method: :delete, data: { confirm: t('navbar.logout_confirm') }, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to t('defaults.profile'), profile_path(current_user.id), class: 'nav-link' %>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to t('defaults.login'), login_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to t('defaults.register'), new_user_path, class: 'nav-link' %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>