<div class="text-center">
    <h1><%= t('defaults.mypage') %></h1>
    <p>あなたの1日のカフェイン制限量は <%= @caffeine_limit %> です。</p>
    <%= link_to t('tops.index.new_drink_form_link'), new_drink_path, class: "btn btn-beige" %>
</div>
<%= month_calendar do |date| %>
    <%= date.day %>
    <% drink_record = @drink_records.find { |record| record.date == date && record.user_id == current_user.id } %>
    <% if drink_record %>
        <%= link_to "#{drink_record.caffeine_total}mg", "/drink_records/#{drink_record.id}" %>
    <% end %>
<% end %>